# Local development files
.env
.idea/

# Logs and data
*.log
*.db

# Dependency directories
venv/
env/
lib/
lib64/
bin/
include/

# Compiled Python files
*.so

# PyInstaller files
*.spec
dist/
build/

# Testing
.coverage
.pytest_cache/
htmlcov/
