<a href="https://telegra.ph/Instrukciya-k-OLVPN-03-13-2">Инструкция тут</a>
Пожалуйста ознакомьтесь с ней.
В случае возникновения вопросов, вы можете написать
в техническую поддержку @olvpnsupport
   ---------------
<b>Выберите нужное меню</b>
💳 Что бы купить новый ключ,
нажмите "Купить ключ"
🔑 Что бы получить действующий ключ,
нажмите "Мой ключ"
   ---------------
Если Вы у нас впервые
Вы можете получить 🎁
промо-ключ сроком на 1 день.
Ключ выдается в разделе
"Купить ключ" - (выбираете регион) - "Промо"